[Desktop Entry]
Type=Application
Version=1.0
Name=cosmic-clip Settings
GenericName=Clipboard Manager Settings
Comment=Configure cosmic-clip
Exec=@BIN@
Icon=cosmic-clip-symbolic
Terminal=false
Categories=Utility;Settings;
NoDisplay=false
StartupNotify=true
