[Desktop Entry]
Name=Pick
Comment=Pick from clipboard history, emoji, or a color palette
Type=Application
Exec=@BIN@
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Clipboard;Emoji;Color;Picker;
Icon=edit-paste-symbolic
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
